In [2]:
import pandas as pd
import numpy as np

In [4]:
import csv
data = pd.read_csv('data.csv')

In [5]:
data

         Nama Kota        Tetangga  jarak  heuristik
0             Arad          Zerind     75        366
1             Arad           Sibiu    140        366
2             Arad        Timisora    118        366
3           Zerind          Oradea     71        374
4           Zerind            Arad     75        374
5            Sibiu            Arad    140        253
6            Sibiu          Oradea    151        253
7            Sibiu  Rimnicu Vilcea     80        253
8            Sibiu         Fagaras     99        253
9         Timisora            Arad    118        329
10        Timisora           Lugoj    111        329
11       Bucharest         Giurgiu     90          0
12       Bucharest        Urziceni     85          0
13       Bucharest         Fagaras    211          0
14       Bucharest         Pitesti    101          0
15         Craiova         Pitesti    138        160
16         Craiova         Dobreta    120        160
17         Craiova  Rimnicu Vilcea    146        160
18         Dobreta         Mehadia     75        242
19         Dobreta         Craiova    120        242
20          Eforie         Hirsova     86        161
21         Fagaras           Sibiu     99        178
22         Fagaras       Bucharest    211        178
23         Giurgiu       Bucharest     90         77
24         Hirsova          Eforie     86        151
25         Hirsova        Urziceni     98        151
26            Iasi           Neamt     87        226
27            Iasi          Vaslui     92        226
28           Lugoj         Mehadia     70        244
29           Lugoj        Timisora    111        244
30         Mehadia           Lugoj     70        241
31         Mehadia         Dobreta     75        241
32           Neamt            Iasi     87        234
33          Oradea          Zerind     71        380
34          Oradea           Sibiu    151        380
35         Pitesti       Bucharest    101         98
36         Pitesti         Craiova    138         98
37         Pitesti  Rimnicu Vilcea     97         98
38  Rimnicu Vilcea         Pitesti     97        193
39  Rimnicu Vilcea         Craiova    146        193
40  Rimnicu Vilcea           Sibiu     80        193
41        Urziceni       Bucharest     85         80
42        Urziceni         Hirsova     98         80
43        Urziceni          Vaslui    142         80
44          Vaslui            Iasi     92        199
45          Vaslui        Urziceni    142        199

In [6]:
heuristik = data.heuristik.values
heuristik

array([366, 366, 366, 374, 374, 253, 253, 253, 253, 329, 329,   0,   0,
         0,   0, 160, 160, 160, 242, 242, 161, 178, 178,  77, 151, 151,
       226, 226, 244, 244, 241, 241, 234, 380, 380,  98,  98,  98, 193,
       193, 193,  80,  80,  80, 199, 199])

In [7]:
jarak = data.jarak.values
jarak

array([ 75, 140, 118,  71,  75, 140, 151,  80,  99, 118, 111,  90,  85,
       211, 101, 138, 120, 146,  75, 120,  86,  99, 211,  90,  86,  98,
        87,  92,  70, 111,  70,  75,  87,  71, 151, 101, 138,  97,  97,
       146,  80,  85,  98, 142,  92, 142])

In [42]:
def a_star(start,stop):
  visited = 0
  city = []
  city.append(start)
  while city[-1] != stop :
    tetangga = data[data['Tetangga'] == city[-1]]
    tetangga['fn'] = tetangga['heuristik']+tetangga['jarak']+visited
    city_terdekat=tetangga.loc[tetangga['fn'].idxmin(),'Nama Kota']
    
    city.append(city_terdekat)
    print(city,'\n')
  return city

In [43]:
a = a_star('Arad','Bucharest')

['Arad', 'Sibiu']

['Arad', 'Sibiu', 'Rimnicu Vilcea']

['Arad', 'Sibiu', 'Rimnicu Vilcea', 'Pitesti']

['Arad', 'Sibiu', 'Rimnicu Vilcea', 'Pitesti', 'Bucharest']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys